@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Sans+TC:700&display=swap');

/* .details_title {
    text-align: center;
    margin-top: 65px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Bree Serif', serif;
    color: #fff;
} */

/* .contain {
    background-color: rgba(248, 248, 248, 0);
    box-shadow: 1px 1px 2px 1px rgba(153, 153, 153, 0.404);
    padding: 50px;
    margin: 30px 20px 30px 20px;
    list-style-type: none;
    opacity: 0.9;
} */

.mat {
    padding: 50px;
    list-style-type: none;
    width: 15vw;
    border-radius: 5px;
}
.details_ingredients {
    line-height: 35px;
    font-weight: 450;
}

.ingredients_title {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 500;
    margin-top: -24px;
    margin-bottom: 15px;
}

.details_image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details-img {
    height: 35vw;
    width: 35vw;
}
.img-contain{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.details_recipe {
    /* border-top: 1px solid rgba(0, 0, 0, 0.301); */
    /* margin-top: 50px; */
    font-size: 15px;
}

.recipe_title {
    border-top: 1px solid rgba(0, 0, 0, 0.301);
    padding-top: 30px;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;

}

.btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(./60775.png);
    background-size: cover;
    color: rgba(255, 255, 255, 0);
    height: 4vw;
    width: 4vw;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition-property: all;
  }
